body {
    font-size: 15px;
    line-height: 1.8;
    font-family: system-ui, "Segoe UI", sans-serif;
        system-ui,Segoe UI,sans-serif	
        Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height:1.4
}
a {
    color: #136bf5;
    text-decoration: none;
}
footer {
    font-size: 16px;
}
@media (min-width: 768px) {
    .container {
        max-width: 550px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 550px;
    }
}
[builder-element=CellElement] .container {
    padding: 0;
}
@media (min-width: 769px) {
    [data-hide-on="desktop"] {
      display: none!important;
    }
}
@media (max-width: 600px) {
    [data-hide-on="mobile"] {
      display: none!important;
    }
}
@media (max-width: 767px) {
    [builder-element=CellContainerElement].cell-responsive {
        display: block!important;
    }
    [builder-element=CellContainerElement].cell-responsive [builder-element="CellElement"] {
        width: 100%!important;
        max-width: none!important;        
    }
    [builder-element=CellContainerElement].cell-responsive [builder-element="CellElement"], [builder-element=CellContainerElement].cell-responsive [builder-element="BlockElement"] {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}
@media (min-width: 768px) {
    [builder-element=PricingTableElement] .col-12 {
        flex-basis: 0;
        flex-grow: 1;
    }
}
